.postmodal-data{
    width : 500px;
    height : 500px;
    overflow-y: hidden;
}

.next-modal{
    width : 850px;
    height : 500px;
    overflow-y : hidden;
    transition : linear 0.5s;
}

.postmodal-details-data{
    display : flex;
}

.postmodal-details{
    display : flex;
    flex-direction : column;
    gap : 5px;
    width : 100%;
}

.postmodal-details-area{
    display : flex;
    align-items : center;
    gap : 10px;
    padding : 15px;
}

.postmodal-details-area img{
    width : 40px;
    height : 40px;
    border-radius : 100px;
}

.postmodal-details-text span{
    font-size : 15px;
    font-weight : bold;
}

.postmodal-details input{
    border : none;
    outline : none;
    padding-left : 20px;
}

.postmodal-action-area{
    display : flex;
    flex-direction : column;
    margin-top : 100px;
    border-bottom : 1px solid #808080;
    border-top : 1px solid #808080;
}

.postmodal-action-area-details{
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 10px;
    width : 100%;
}

.postmodal-action-area-details span{
    font-size : 15px;
    /* font-weight: bold; */
    cursor : pointer;
}

.postmodal-title span{
    display : flex;
    justify-content : center;
    align-items : center;
    font-size : 15px;
    font-weight : 500;
    padding : 10px;
}

.postmodal-share button{
    all : unset;
    display : flex;
    justify-content : flex-end;
    width : 100%;
    position : absolute;
    top : 10px;
    right : 20px;
    font-size : 15px;
    font-weight : bold;
    color : #4d96f6;
    cursor : pointer;
}

.postmodal-data form{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 20px;
    height : 60vh;
}

.postmodal-info input{
    display : flex;
    justify-content : center;
    align-items : center;
    width : 200px;
    height : 30px;
    border : 0;
    border-bottom : 1px solid #000000;
    outline : 0;
    font-size : 15px;
}

.postmodal-image-upload-area{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 15px;
    /* height : 60vh; */
}

.postmodal-image-upload-title span{
    font-size : 20px;
}

input[type="file"] {
    display: none;
}

.postmodal-image-upload{
    border: 1px solid transparent;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color : #4d96f6;
    color : #ffffff;
    border-radius : 5px;
    font-size : 15px;
}