.change-password{
    display : flex;
    justify-content : center;
    margin : 30px 100px;
}

.change-password-data{
    display : flex;
    flex-direction : column;
}

.change-password-user-name{
    display : flex;
    flex-direction : column;
    gap : 2px;
    padding-left : 70px;
}

.change-password-user-info{
    display : flex;
    align-items : center;
    gap : 20px;
    padding-top : 20px;
}

.change-password-user-info label{
    font-weight : 500;
    font-size : 15px;
    width : 100px;
}

.change-password-user-details input{
    border : none;
    border : 1px solid #dbdbdb;
    width : 400px;
    padding : 10px;
    background-color : #fafafa;
    border-radius : 5px;
}

.change-password-btn{
    border : none;
    outline : none;
    padding : 7px;
    font-size : 13px;
    background-color : #4d96f6;
    color : #ffffff;
    border-radius : 5px;
    font-weight : bold;
    cursor : pointer;
    margin-top : 20px;
    margin-left : 120px;
    opacity : 0.5;
}

.forgot-password{
    padding-top : 20px;
    margin-left : 120px;
}

.forgot-password a{
    font-size : 14px;
    font-weight : bold;
    color : #4d96f6;
}