.manage-contacts{
    display : flex;
    justify-content : center;
    margin : 30px 50px;
}

.manage-contacts-data{
    display : flex;
    flex-direction : column;
    gap : 20px;
}

.manage-contacts-title{
    font-weight : 500;
    font-size : 20px;
}

.manage-contacts-data span{
    font-size : 14px;
}